@-webkit-keyframes Loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes Loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loadingContainer {
    width: 100%;
    min-height: 40px;
    position: relative;
    padding-top: 20px;
    background-color: #fff;
    
    .loadingItemContainer {
        width: 50px;
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        
        .loadingItem {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #008489;
            margin: 0 3.5px;
        }
        
        .loadingItem:first-child {
            -webkit-animation: Loading 0.4s alternate infinite ease-in-out forwards;
            animation: Loading 0.4s alternate infinite ease-in-out forwards;
        }
        
        .loadingItem:nth-child(2) {
            -webkit-animation: Loading 0.4s alternate 0.15s infinite ease-in-out forwards;
            animation: Loading 0.4s alternate 0.15s infinite ease-in-out forwards;
        }
        
        .loadingItem:nth-child(3) {
            -webkit-animation: Loading 0.4s alternate 0.3s infinite ease-in-out forwards;
            animation: Loading 0.4s alternate 0.3s infinite ease-in-out forwards;
        }
    }
}
